@model PersonDataModel

@{
    ViewData["Title"] = "Index";
}
<div class="dropdown">
    <button type="button" id="sas" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="sas">
      <a class="dropdown-item" href="#">Link 1</a>
      <a class="dropdown-item" href="#">Link 2</a>
      <a class="dropdown-item" href="#">Link 3</a>
    </div>
  </div>
<div class="row">
    <div class="col-4">

        <table class="table">
            <thead>
            <tr>
                <h3>My Family</h3>
            </tr>
            
            </thead>
            <tbody>
            @foreach (var item in Model.Persons!) {
                <tr>
                    <td>
                        <img src="@Html.DisplayFor(modelItem => item.Logo)" alt="logo" width="64" height="64"/>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)  @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                </tr>
            }
            <tr>
                <td colspan="2">
                    <button type="button" class="btn btn-warning btn-block" onclick="newPerson()">Add Person</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col">
        <div>
            <table style="width: 100%">
                <tr>
                    <td>
                        <button type="button" class="btn btn-outline-info" onclick="previous()">&#8810;</button>
                    </td>
                    <td>
                        <h3 style="text-align: center" id="monthAndYear">Month and Year</h3>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-info" onclick="next()">&#8811;</button>
                    </td>
                    
                </tr>
            </table>
            
            
            <table class="table">
                <thead>
                <tr id="weekDay"></tr>
                </thead>
                <tbody id="calendar-body"></tbody>
            </table>
        </div>
    </div>
</div>

@using(Html.BeginForm("NotificationCreate", "Persons"))
            {
                <div id="newPerson-div" style="display: none">
                    <h4 style="text-align: center; color: white">Please input pesron email</h4>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">&#64;</span>
                        </div>
                        <input name="email" type="email" class="form-control" required/>
                    </div>
                    <input type="submit" class="btn btn-success btn-block" value="Send invitation"/>
                    <button type="button" class="btn btn-primary" style="position: absolute; right: 5px; top: 5px" onclick="closeNewPerson()">X</button>
                           
                </div>
                
            }
@section Scripts {
    <script src="~/js/calendar.js"></script>
    <script src="~/js/notification.js"></script>
    <script>
    //document.body.onload = () => changeCultureInfo('@System.Globalization.CultureInfo.CurrentCulture.Name');
    //changeCultureInfo('@System.Globalization.CultureInfo.CurrentCulture.Name');
    document.body.onload = () => 
        newDutyDays(@Html.Raw(Json.Serialize(Model.DatesList)), '@System.Globalization.CultureInfo.CurrentCulture.Name');
    
    if('@Model.UnreadMessages' === '0'){
        localStorage.setItem('x','');
    }
    else{
        localStorage.setItem('x','@Model.UnreadMessages');
    }
    
    notificationBadge.innerText=localStorage.getItem('x');
    </script>
}


